*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.heading{
    margin-left: 17%;
    width: 1100px;
    height: 875px;
    margin-top: 36px;
    box-shadow: 6px 6px 10px rgb(135, 122, 118), -6px -6px 10px rgb(123, 131, 115);

}
.icon{
    width: 100%;
    height: 50px;
}
nav{
    margin-top: 100px;
    border-bottom: 1px solid black;
    background-color:#9C9994;
    font-size: 26px;
    color: white;
}
nav li:hover{
    color: black;
}
.menu li {
    list-style-type: none;
    display: inline-block;
    width: 100px;
    line-height: 40px;
    height: 40px;
    margin-top: 5px;
    text-align: center;
    font-size: x-large;
    color: aliceblue;
}
section{

    display: flex;
}
.art_1_1, .art_1_2{
    border: 1px solid #9C9994;
}
.art_1, .art_2{
    margin-left: 33px;
    margin-top: 33px;
}
.art_1_1{
    margin-bottom: 50px;
}
.art_2{
    margin: 20px ;
}
.art_2_1{
    margin-bottom: 160px;
}
.art_color{
    color: rgb(204, 71, 71);
}
p{
    font-size: 20px;
}
.art_3{
    padding-right: 80px;
    padding-left: 33px;
    padding-top: 33px;
    border-left: 1px solid #9C9994;
}
.art_3_p{
    border-bottom: 1px solid #9C9994;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
footer{
    padding-left: 33px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 20px;
    background-color:#9C9994;
}
